@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
$font-family-default: Arial,
sans-serif;
$font-family-secondary: '';
$font-size-default: 16px;
$line-height-default: 24px;
$font-weight-normal: 400;
$font-weight-bold: 700;